#####################################################################
# 	Extruder Motor Driver 7
#####################################################################
[extruder]
step_pin: toolhead: PD0
dir_pin: !toolhead: PD1
enable_pin: !toolhead: PD2
gear_ratio: 50:10
microsteps: 16
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 600
pressure_advance: 0.03

#####################################
# Hotend Configuration
#####################################
heater_pin: toolhead: PB13
sensor_type: Generic 3950
sensor_pin: toolhead: PA3
min_temp: 0
max_temp: 310
max_power: 0.8
min_extrude_temp: 180
control: pid
pid_kp: 24.059
pid_ki: 2.056
pid_kd: 70.372

[tmc2209 extruder]
uart_pin: toolhead: PA15
interpolate: True
run_current: 0.55
hold_current: 0.25
stealthchop_threshold: 0
sense_resistor: 0.110

#####################################################################
# 	Hotend Fan
#####################################################################
[heater_fan hotend_fan]
pin: toolhead: PA1
max_power: 1.0
fan_speed: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
