#####################################################################
# 	Part Cooling Blower
#####################################################################
[fan]
pin: toolhead: PA0
kick_start_time: 0.5
max_power: 1.0
off_below: 0.20
