#####################################################################
# 	Crafter 3D M6
#####################################################################

[include mainsail.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos: True
variable_custom_park_x: 262.5
variable_custom_park_y: 60.5
variable_custom_park_z: 0.0
variable_retract: 1.0
variable_cancel_retract: 5.0
variable_speed_retract: 35.0
variable_unretract: 1.0
variable_speed_unretract: 35.0
variable_speed_hop: 15.0
variable_speed_move: 100.0
variable_park_at_cancel: True
variable_park_at_cancel_x: None
variable_park_at_cancel_y: None
variable_use_fw_retract: False
variable_idle_timeout: 3600
variable_runout_sensor: ""
variable_user_pause_macro: "PARK_POS"
variable_user_cancel_macro: ""
gcode:

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 12000 #Best 5000
max_z_velocity: 20
max_z_accel: 350
square_corner_velocity: 5.0

# MCU
[include hardware/mcu.cfg]

# Motors
[include motors/motors_corexy.cfg]
[include motors/motors_z.cfg]
[include motors/motor_belt.cfg]
[include motors/motor_door.cfg]

# Z Level
[include autolevelling/z_level.cfg]

# Heated Bed
[include heated_bed/heatbed.cfg]
[include heated_bed/coolingbed.cfg]

# Toolhead
[include toolhead/hotend_extruder.cfg]
[include toolhead/part_cooling.cfg]
[include toolhead/filament_sensor.cfg]

# Input Shaper
[include input_shaper/accelerometer.cfg]

# Display
[include display/display_mini.cfg]
[include display/display_menu.cfg]

# Cooling
[include cooling/aux_blower.cfg]

# LED
[include led/led.cfg]

# Temperature
[include temperature/temperatures.cfg]

# Macros
[include macros/homing.cfg]
[include macros/cleaning_purge.cfg]
[include macros/printing_commands.cfg]
[include macros/filament_change.cfg]
[include macros/park_position.cfg]
[include macros/demo_macro.cfg]
[include macros/extruder_test.cfg]
[include macros/object_ejection.cfg]

[save_variables]
filename: ~/printer_data/config/variables.cfg

[exclude_object]

[force_move]
enable_force_move: True

[skew_correction]

[idle_timeout]
timeout: 600

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 55.2
#*# shaper_type_y = zv
#*# shaper_freq_y = 43.4
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*#       -0.195313, 0.241250, 0.242187, 0.019062
#*#       -0.121875, 0.002187, -0.054688, -0.294063
#*#       -0.040313, -0.069375, -0.205313, -0.540313
#*#       -0.097500, -0.205625, -0.358125, -0.730938
#*# x_count = 4
#*# y_count = 4
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 18.0
#*# max_x = 217.98
#*# min_y = 22.015
#*# max_y = 229.97499999999997
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 24.152
#*# pid_ki = 1.940
#*# pid_kd = 75.174
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.635
#*# pid_ki = 1.264
#*# pid_kd = 657.038
#*#
#*# [bltouch]
#*# z_offset = 1.650
