#####################################################################
# 	LED Control
#####################################################################
[output_pin my_led]
pin: PB0
shutdown_value: 1
value: 1

[gcode_macro TOGGLE_LED]
description: Toggle LED status (no variables)
gcode:
    {% set current = printer.output_pins.my_led.value|float %}
    {% if current > 0.5 %}
        SET_PIN PIN=my_led VALUE=0
    {% else %}
        SET_PIN PIN=my_led VALUE=1
    {% endif %}
    M118 "LED TOGGLED"

[gcode_macro FLASH_LED]
description: Flash LED 3 times
gcode:
    {% for i in range(3) %}
        SET_PIN PIN=my_led VALUE=0
        SET_PIN PIN=my_led VALUE=1
    {% endfor %}

[delayed_gcode startup_led_flash]
initial_duration: 2
gcode:
    FLASH_LED
