#####################################################################
# 	MCU Configuration
#####################################################################
[mcu]
canbus_uuid=c951ec4fc2ff

[mcu toolhead]
canbus_uuid=c7e6c45a9f3a
