#####################################################################
# 	Auxiliar blowers
#####################################################################
[fan_generic aux_blower]
pin: PD12
max_power: 1.0
kick_start_time: 0.5
off_below: 0.20

[gcode_macro M106]
description: Layer blower (P1) or Aux blower (P2) ON.
rename_existing: M106.1
gcode:
 {% set speed = params.S|default(255)|float %}
 {% set fan = params.P|default(0)|int %}
 {% if fan == 2 %}
   SET_FAN_SPEED FAN=aux_blower SPEED={speed / 255.0}
 {% else %}
   M106.1 {rawparams}
 {% endif %}

[gcode_macro M107]
description: Layer blower (P1) or Aux blower (P2) OFF.
rename_existing: M107.1
gcode:
  {% set fan = params.P|default(0)|int %}
  {% if fan == 2 %}
    SET_FAN_SPEED FAN=aux_blower SPEED=0
  {% else %}
    M107.1
  {% endif %}
