#####################################################################
# 	Probe
#####################################################################
[bltouch]
sensor_pin: ^toolhead: PB8
control_pin: toolhead: PB9
pin_move_time: 0.680
x_offset: 0.079
y_offset: 22.015
#z_offset: 1.76
speed: 5
lift_speed: 50 #before 10
samples: 2
sample_retract_dist: 5
samples_result: median
samples_tolerance: 0.03
samples_tolerance_retries:3

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################
[z_tilt]
z_positions:
    #position to spherical bearing joint
   # -89, -41
   # 271, -41
   # 91, 335
   -44.12,-60.21
   315.88,-60.21
   135.88,331.79
points:
    #position toolhead readings for z_tilt
    20, 5
    215, 5
    118, 215

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.015

#####################################################################
# 	BED MESHING
#####################################################################
[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 18, 22.015
mesh_max: 218, 240
probe_count: 4, 4
mesh_pps: 2, 2
algorithm: bicubic
