#####################################################################
#   Network Info show IP & hostname on the mini12864 display
#
#   Values are generated on boot into:
#   display/network_info_values.cfg
#   by scripts/get_network_info.py
#####################################################################

[include network_info_values.cfg]

### Display menu: Main -> Network ###
[menu __main __network]
type: list
name: Network

[menu __main __network __ip]
type: command
name:
	{% set line = "IP: " ~ (printer["gcode_macro _NETWORK_INFO"].ip|string) %}
	{% if line|length <= 16 %}
		{ "%-16s" % line }
	{% else %}
		{% set window = line ~ "   " %}
		{% set pos = (printer.toolhead.estimated_print_time|int) % (window|length) %}
		{ (window ~ window)[pos:pos+16] }
	{% endif %}
gcode:

[menu __main __network __hostname]
type: command
name:
	{% set line = "Host: " ~ (printer["gcode_macro _NETWORK_INFO"].hostname|string) %}
	{% if line|length <= 16 %}
		{ "%-16s" % line }
	{% else %}
		{% set window = line ~ "   " %}
		{% set pos = (printer.toolhead.estimated_print_time|int) % (window|length) %}
		{ (window ~ window)[pos:pos+16] }
	{% endif %}
gcode:

[display_template _network_line]
param_label: "IP"
param_value: "n/a"
text:
	{% set line = param_label ~ ": " ~ (param_value|string) %}
	{% if line|length <= 16 %}
		{ "%-16s" % line }
	{% else %}
		{% set window = line ~ "   " %}
		{% set pos = (printer.toolhead.estimated_print_time|int) % (window|length) %}
		{ (window ~ window)[pos:pos+16] }
	{% endif %}

### Main display status line with network info ###
[display_data _default_16x4 print_status]
position: 3, 0
text:
	{% set ip = printer["gcode_macro _NETWORK_INFO"].ip|string %}
	{% set host = printer["gcode_macro _NETWORK_INFO"].hostname|string %}
	{% set tick = printer.toolhead.estimated_print_time|int %}
	{% if printer.idle_timeout.printing_time %}
		{% set mode = (tick // 8) % 3 %}
		{% if mode == 0 %}
			{ render("_print_status") }
		{% elif mode == 1 %}
			{ render("_network_line", param_label="IP", param_value=ip) }
		{% else %}
			{ render("_network_line", param_label="Host", param_value=host) }
		{% endif %}
	{% else %}
		{% set mode = (tick // 6) % 2 %}
		{% if mode == 0 %}
			{ render("_network_line", param_label="IP", param_value=ip) }
		{% else %}
			{ render("_network_line", param_label="Host", param_value=host) }
		{% endif %}
	{% endif %}

[display_data _multiextruder_16x4 print_status]
position: 3, 0
text:
	{% set ip = printer["gcode_macro _NETWORK_INFO"].ip|string %}
	{% set host = printer["gcode_macro _NETWORK_INFO"].hostname|string %}
	{% set tick = printer.toolhead.estimated_print_time|int %}
	{% if printer.idle_timeout.printing_time %}
		{% set mode = (tick // 8) % 3 %}
		{% if mode == 0 %}
			{ render("_print_status") }
		{% elif mode == 1 %}
			{ render("_network_line", param_label="IP", param_value=ip) }
		{% else %}
			{ render("_network_line", param_label="Host", param_value=host) }
		{% endif %}
	{% else %}
		{% set mode = (tick // 6) % 2 %}
		{% if mode == 0 %}
			{ render("_network_line", param_label="IP", param_value=ip) }
		{% else %}
			{ render("_network_line", param_label="Host", param_value=host) }
		{% endif %}
	{% endif %}
