#####################################################################
#  Local client macro variables (preserved across updates)
#####################################################################
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos: True
variable_custom_park_x: 257.5
variable_custom_park_y: 60.5
variable_custom_park_dz: 0.0
variable_retract: 1.0
variable_cancel_retract: 5.0
variable_speed_retract: 35.0
variable_unretract: 1.0
variable_speed_unretract: 35.0
variable_speed_hop: 15.0
variable_speed_move: 100.0
variable_park_at_cancel: True
variable_park_at_cancel_x: None
variable_park_at_cancel_y: None
variable_use_fw_retract: False
variable_idle_timeout: 3600
variable_runout_sensor: ""
variable_user_pause_macro: "PARK_POS"
variable_user_resume_macro: ""
variable_user_cancel_macro: ""
gcode:
