#####################################################################
# 	Door Stepper Settings - MOTOR 3
#####################################################################
[manual_stepper door]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA0
microsteps: 16
rotation_distance: 100 #this needs to be adjusted
full_steps_per_rotation: 200
velocity: 10
endstop_pin: ^!PG13

[tmc2209 manual_stepper door]
uart_pin: PC7
run_current: 1.2
hold_current: 0.2
sense_resistor: 0.110

#####################################################################
#  DOOR
#####################################################################
[gcode_macro OPEN_DOOR]
description: open door to throw a printed object.
gcode:
  {% set position = params.P|default(35)|int %}
  CLOSE_DOOR
  # Open
  MANUAL_STEPPER STEPPER=door MOVE={position}

[gcode_macro CLOSE_DOOR]
description: close door.
gcode:
  # Check if it is closed & close
  MANUAL_STEPPER STEPPER=door SET_POSITION=40
  MANUAL_STEPPER STEPPER=door MOVE=0 STOP_ON_ENDSTOP=2
