#####################################################################
# 	Belt Stepper Settings Driver 4
#####################################################################
[manual_stepper belt]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 6.2832
full_steps_per_rotation: 200
velocity: 5
accel: 100

[tmc2209 manual_stepper belt]
uart_pin: PF2
run_current: 0.8
hold_current: 0.2
sense_resistor: 0.110

#####################################################################
#  BELT OBJET THROW
#####################################################################
[gcode_macro BELT_THROW]
description: Full motion to throw object from belt.
gcode:
  {% set BED_COOLDOWN = params.BC|default(0)|int %}
  {% set BED_MOVE = 500 %}

  {% if BED_COOLDOWN == 1 %}
    {% set start = printer.heater_bed.temperature|float %}
    {% set target = start - 15.0 %}
    {% if target < 40.0 %}
      {% set target = 40.0 %}
    {% endif %}
    {% if start > 40.0 %}
      RESPOND MSG="Cooling bed before belt throw"
      {% if printer.heater_bed.target|float > target %}
        SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target}
      {% endif %}
      TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM={target}
    {% endif %}
  {% endif %}

  RESPOND MSG="Belt moving"
  MANUAL_STEPPER STEPPER=belt MOVE={BED_MOVE} SPEED=30
  MANUAL_STEPPER STEPPER=belt SET_POSITION=0
  MANUAL_STEPPER STEPPER=belt MOVE=-500 SPEED=30
  MANUAL_STEPPER STEPPER=belt SET_POSITION=0
  RESPOND MSG="Belt throw completed"
