#####################################################################
# 	Z Stepper Settings
#####################################################################
# Z0 Stepper - Driver 1 - Z Front Right
[stepper_z]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: probe:z_virtual_endstop
position_max: 225
position_min: -10
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PD11
interpolate: False
run_current: 1.1
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


# Z1 Stepper - Driver 0 - Z Front Left
[stepper_z1]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: PC4
interpolate: False
run_current: 1.1
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


# Z2 Stepper - Driver 2 - Z Rear
[stepper_z2]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 4
microsteps: 32
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: PC6
interpolate: False
run_current: 1.1
hold_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#  DROP Z AXES
#####################################################################
[gcode_macro Z_DROP]
description: Lower bed to max Z and 5mm beyond for belt throw clearance
gcode:
  RESPOND MSG="Lowering the bed"
  {% set BED_POS = params.DROP_POS|default(220)|int %}
  HOME_CHECK
  {% set travel_speed = 15 %}
  SAVE_GCODE_STATE NAME=z_drop_restore
  G90
  G1 Z{BED_POS - 10} F{travel_speed * 60}
  G1 Z{BED_POS} F600
  SAVE_VARIABLE VARIABLE=z_drop VALUE=1
  RESTORE_GCODE_STATE NAME=z_drop_restore
