#####################################################################
#  NOZZLE CLEAN
#####################################################################
[gcode_macro THROW_PURGE]
description: Move lever to empty the bin.
gcode:
  {% set v_prev = printer.toolhead.max_velocity|float %}
  {% set a_prev = printer.toolhead.max_accel|float %}
  {% set v_cfg = printer.configfile.settings.printer.max_velocity|float %}
  {% set a_cfg = printer.configfile.settings.printer.max_accel|float %}
  {% set f_max = (v_cfg * 60)|int %}
  {% set f_approach = (v_cfg * 0.8 * 60)|int %}
    {% set x_throw = printer.toolhead.axis_maximum.x|float - 2.0 %}
  SET_VELOCITY_LIMIT VELOCITY={v_cfg} ACCEL={a_cfg}
  G0 X{x_throw} Y50.5 F{f_approach}
  G0 X{x_throw} Y42.5 F{f_max}
  G0 X{x_throw} Y5.0 F{f_max}
  G0 X{x_throw} Y45.0 F{f_max}
  G0 X{x_throw} Y5.0 F{f_max}
  G0 X{x_throw} Y53.0 F{f_max}
  SET_VELOCITY_LIMIT VELOCITY={v_prev} ACCEL={a_prev}


[gcode_macro CLEAN_NOZZLE]
description: Clean nozzle on brush.
gcode:
    RESPOND MSG="Cleaning Nozzle"
  {% set v_prev = printer.toolhead.max_velocity|float %}
  {% set a_prev = printer.toolhead.max_accel|float %}
  {% set v_cfg = printer.configfile.settings.printer.max_velocity|float %}
  {% set a_cfg = printer.configfile.settings.printer.max_accel|float %}
  {% set f_max = (v_cfg * 60)|int %}
  {% set f_standard = (v_cfg * 0.8 * 60)|int %}
  {% set x_clean_inner = printer.toolhead.axis_maximum.x|float - 9.0 %}
    {% set x_clean_outer = printer.toolhead.axis_maximum.x|float - 1.0 %}
  SET_VELOCITY_LIMIT VELOCITY={v_cfg} ACCEL={a_cfg}
    #Left Right
  G0 X{x_clean_inner} Y89.5 F{f_standard}
  G0 X{x_clean_outer} Y89.5 F{f_standard}
  G0 X{x_clean_inner} Y89.5 F{f_standard}
    #Back Foward
  G0 X{x_clean_outer} Y115.0 F{f_max}
  G0 X{x_clean_outer} Y64.0 F{f_max}
  G0 X{x_clean_outer} Y115.0 F{f_max}
  G0 X{x_clean_outer} Y64.0 F{f_max}
  G0 X{x_clean_outer} Y115.0 F{f_max}
    #Left Right
  G0 X{x_clean_inner} Y89.5 F{f_standard}
  G0 X{x_clean_outer} Y89.5 F{f_standard}
  G0 X{x_clean_inner} Y89.5 F{f_standard}
  SET_VELOCITY_LIMIT VELOCITY={v_prev} ACCEL={a_prev}


[gcode_macro PURGE]
description: Purge process a sequence of cleaning steps.
gcode:
    RESPOND MSG="Purging filament"
  {% set min_ext_temp = printer.configfile.settings.extruder.min_extrude_temp|float %}
  {% set max_ext_temp = printer.configfile.settings.extruder.max_temp|float %}
  {% set default_temp = [min_ext_temp + 40.0, max_ext_temp - 10.0]|min %}
    {% set distance = params.DIST|default(80)|float %}
    {% set x_max = printer.toolhead.axis_maximum.x|float - 1.0 %}

    {% set extr = printer.toolhead.extruder %}
    {% set target = printer[extr].target|float %}
    {% set req = params.TEMP|default(0)|float %}

    # Choose purge temperature:
    {% if target >= min_ext_temp %}
      {% set temperature = target %}
    {% elif req >= min_ext_temp %}
      {% set temperature = req %}
    {% else %}
      {% set temperature = default_temp %}
    {% endif %}

    SAVE_GCODE_STATE NAME=purge_state
    # Start hotend heating early while the cleaning sequence runs.
    M104 S{temperature} ;Preheat Extruder
    CLEAN_NOZZLE
    HOME_CHECK
    PARK_POS
    HEAT_EXTRUDER TEMP={temperature}
    THROW_PURGE
    PARK_POS
    # Switch to relative mode for controlled purge/retract distances.
    G91
    G1 E{distance} F300
    G1 E-20 F600
    # Restore absolute positioning before XY travel moves.
    G90
    M106 P2 S255 ;Aux Fan ON
    # Keep aux airflow active to cool and harden purge material before wiping.
    G4 P5000
    {% set v_prev = printer.toolhead.max_velocity|float %}
    {% set a_prev = printer.toolhead.max_accel|float %}
    {% set v_cfg = printer.configfile.settings.printer.max_velocity|float %}
    {% set a_cfg = printer.configfile.settings.printer.max_accel|float %}
    {% set f_max = (v_cfg * 60)|int %}
    SET_VELOCITY_LIMIT VELOCITY={v_cfg} ACCEL={a_cfg}
    G0 X{x_max} Y54.0 F{f_max}
    G0 X{x_max} Y69.0 F{f_max}
    G0 X{x_max} Y54.0 F{f_max}
    G0 X{x_max} Y69.0 F{f_max}
    G0 X{x_max} Y54.0 F{f_max}
    G0 X{x_max} Y69.0 F{f_max}
    SET_VELOCITY_LIMIT VELOCITY={v_prev} ACCEL={a_prev}
    THROW_PURGE
    CLEAN_NOZZLE
    PARK_POS
    M107 P2 ;Aux Fan OFF

    RESTORE_GCODE_STATE NAME=purge_state
