#####################################################################
#  NOZZLE CLEAN
#####################################################################
[gcode_macro THROW_PURGE]
description: Move lever to empty the bin.
gcode:
    G0 X256.5 Y47.5 F6000
    G0 X256.5 Y42.5 F15000
    G0 X256.5 Y7.5 F20000
    G0 X256.5 Y42.5 F20000
    G0 X256.5 Y7.5 F20000
    G0 X256.5 Y50.5 F20000


[gcode_macro CLEAN_NOZZLE]
description: Clean nozzle on brush.
gcode:
    RESPOND MSG="Cleaning Nozzle"
    #Left Right
    G0 X251.5 Y89.5 F6000
    G0 X257.5 Y89.5 F6000
    G0 X251.5 Y89.5 F6000
    #Back Foward
    G0 X257.5 Y112.5 F6000
    G0 X257.5 Y67.5 F6000
    G0 X257.5 Y112.5 F6000
    G0 X257.5 Y67.5 F6000
    G0 X257.5 Y112.5 F6000
    #Left Right
    G0 X251.5 Y89.5 F6000
    G0 X257.5 Y89.5 F6000
    G0 X251.5 Y89.5 F6000


[gcode_macro PURGE]
description: Purge process a sequence of cleaning steps.
gcode:
    RESPOND MSG="Purging filament"
    {% set min_ext_temp = 180.0 %}
    {% set default_temp = 220.0 %}
    {% set distance = params.DIST|default(80)|float %}

    {% set extr = printer.toolhead.extruder %}
    {% set target = printer[extr].target|float %}
    {% set req = params.TEMP|default(0)|float %}

    # Choose purge temperature:
    {% if target >= min_ext_temp %}
      {% set temperature = target %}
    {% elif req >= min_ext_temp %}
      {% set temperature = req %}
    {% else %}
      {% set temperature = default_temp %}
    {% endif %}

    SAVE_GCODE_STATE NAME=purge_state
    M104 S{temperature} ;Preheat Extruder
    CLEAN_NOZZLE
    HOME_CHECK
    PARK_POS
    HEAT_EXTRUDER TEMP={temperature}
    THROW_PURGE
    PARK_POS
    G91
    G1 E{distance} F300
    G1 E-20 F600
    G90
    M106 P2 S255 ;Aux Fan ON
    G4 P5000
    G0 X258.5 Y56.5 F6000
    G0 X258.5 Y66.5 F6000
    G0 X258.5 Y56.5 F6000
    G0 X258.5 Y66.5 F6000
    G0 X258.5 Y56.5 F6000
    G0 X258.5 Y66.5 F6000
    THROW_PURGE
    CLEAN_NOZZLE
    PARK_POS
    M107 P2 ;Aux Fan OFF

    RESTORE_GCODE_STATE NAME=purge_state
