#####################################################################
# DEMO: CoreXY circle+square speed ramps + triple-Z wave
# - Safe: derives center/radius from axis_minimum/maximum with margin
# - Stoppable: DEMO_STOP sets an abort flag checked between loops
#####################################################################

[gcode_arcs]
resolution: 0.5


[gcode_macro DEMO_MOTION]
description: Demo macro (circle+square speed ramps) + triple-Z wave. Use DEMO_STOP to abort between loops.
variable_wave_active: 0
variable_wave_phase: 0
variable_abort: 0
gcode:
  SAVE_GCODE_STATE NAME=DEMO_MOTION_STATE
  {% set z_target = [100.0, printer.toolhead.axis_maximum.z|float - 10.0]|min %}

  # clear abort flag each start
  SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=abort VALUE=0

  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}

  G90
  G1 Z{z_target} F1200

  # Start the Z wave
  SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=wave_active VALUE=1
  SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=wave_phase VALUE=0
  UPDATE_DELAYED_GCODE ID=DEMO_BED_WAVE DURATION=0.10

  # --- Circle loops (3 speeds) ---
  {% if printer["gcode_macro DEMO_MOTION"].abort|int == 0 %}
    _DEMO_CIRCLE LOOP_SPEED=200
  {% endif %}
  {% if printer["gcode_macro DEMO_MOTION"].abort|int == 0 %}
    _DEMO_CIRCLE LOOP_SPEED=350
  {% endif %}
  {% if printer["gcode_macro DEMO_MOTION"].abort|int == 0 %}
    _DEMO_CIRCLE LOOP_SPEED=500
  {% endif %}

  # --- Square loops (3 speeds) ---
  {% if printer["gcode_macro DEMO_MOTION"].abort|int == 0 %}
    _DEMO_SQUARE LOOP_SPEED=200
  {% endif %}
  {% if printer["gcode_macro DEMO_MOTION"].abort|int == 0 %}
    _DEMO_SQUARE LOOP_SPEED=350
  {% endif %}
  {% if printer["gcode_macro DEMO_MOTION"].abort|int == 0 %}
    _DEMO_SQUARE LOOP_SPEED=500
  {% endif %}

  # Stop the Z wave
  SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=wave_active VALUE=0
  UPDATE_DELAYED_GCODE ID=DEMO_BED_WAVE DURATION=0

  # Park at computed center
  _DEMO_GOTO_CENTER

  RESTORE_GCODE_STATE NAME=DEMO_MOTION_STATE


[gcode_macro DEMO_STOP]
description: Abort DEMO_MOTION safely (checked between loops). Also stops Z wave immediately.
gcode:
  SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=abort VALUE=1
  SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=wave_active VALUE=0
  UPDATE_DELAYED_GCODE ID=DEMO_BED_WAVE DURATION=0
  RESPOND TYPE=command MSG="DEMO_STOP requested: will abort between loops."


[gcode_macro _DEMO_GOTO_CENTER]
description: Move to safe computed center (uses axis_min/max) with margin
gcode:
  {% set xmin = printer.toolhead.axis_minimum.x|float %}
  {% set xmax = printer.toolhead.axis_maximum.x|float %}
  {% set ymin = printer.toolhead.axis_minimum.y|float %}
  {% set ymax = printer.toolhead.axis_maximum.y|float %}
  {% set cx = (xmin + xmax) / 2.0 %}
  {% set cy = (ymin + ymax) / 2.0 %}
  G90
  G1 X{cx} Y{cy} F12000


[gcode_macro _DEMO_CIRCLE]
description: One circle loop at LOOP_SPEED (mm/s) using G2 arcs - uses a safe inner box to avoid out-of-range
gcode:
  {% set v  = params.LOOP_SPEED|float %}
  {% set fr = (v * 60.0)|int %}
  {% set xmin = printer.toolhead.axis_minimum.x|float %}
  {% set xmax = printer.toolhead.axis_maximum.x|float %}
  {% set ymin = printer.toolhead.axis_minimum.y|float %}
  {% set ymax = printer.toolhead.axis_maximum.y|float %}
  {% set cx = (xmin + xmax) / 2.0 %}
  {% set cy = (ymin + ymax) / 2.0 %}
  {% set r = [((xmax - xmin) / 2.0) - 20.0, ((ymax - ymin) / 2.0) - 20.0]|min %}
  {% set r = [r, 20.0]|max %}
  {% set x0 = cx - r %}

  SET_VELOCITY_LIMIT VELOCITY={v}
  G90
  G1 X{x0} Y{cy} F12000
  G2 X{x0} Y{cy} I{r} J0 F{fr}


[gcode_macro _DEMO_SQUARE]
description: One square loop at LOOP_SPEED (mm/s) - uses a safe inner box to avoid out-of-range
gcode:
  {% set v  = params.LOOP_SPEED|float %}
  {% set fr = (v * 60.0)|int %}
  {% set xmin = printer.toolhead.axis_minimum.x|float %}
  {% set xmax = printer.toolhead.axis_maximum.x|float %}
  {% set ymin = printer.toolhead.axis_minimum.y|float %}
  {% set ymax = printer.toolhead.axis_maximum.y|float %}
  {% set x0 = xmin + 20.0 %}
  {% set x1 = xmax - 20.0 %}
  {% set y0 = ymin + 20.0 %}
  {% set y1 = ymax - 20.0 %}

  SET_VELOCITY_LIMIT VELOCITY={v}
  G90
  G1 X{(x0 + x1) / 2.0} Y{(y0 + y1) / 2.0} F12000
  G1 X{x0} Y{y0} F{fr}
  G1 X{x1} Y{y0} F{fr}
  G1 X{x1} Y{y1} F{fr}
  G1 X{x0} Y{y1} F{fr}


[delayed_gcode DEMO_BED_WAVE]
# Runs a repeating "wave" on stepper_z / stepper_z1 / stepper_z2 while DEMO_MOTION.wave_active == 1
gcode:
  {% if printer["gcode_macro DEMO_MOTION"].wave_active|int == 0 %}
    # not active
  {% else %}
    {% set p = printer["gcode_macro DEMO_MOTION"].wave_phase|int %}
    {% set amp = 0.8 %}
    {% set vz  = 6.0 %}

    {% if p == 0 %}
      FORCE_MOVE STEPPER=stepper_z  DISTANCE=5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z1 DISTANCE=0 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z2 DISTANCE=-5 VELOCITY={vz}
    {% elif p == 1 %}
      FORCE_MOVE STEPPER=stepper_z  DISTANCE=5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z1 DISTANCE=-5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z2 DISTANCE=0 VELOCITY={vz}
    {% elif p == 2 %}
      FORCE_MOVE STEPPER=stepper_z  DISTANCE=0 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z1 DISTANCE=-5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z2 DISTANCE=5 VELOCITY={vz}
    {% elif p == 3 %}
      FORCE_MOVE STEPPER=stepper_z  DISTANCE=-5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z1 DISTANCE=0 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z2 DISTANCE=5 VELOCITY={vz}
    {% elif p == 4 %}
      FORCE_MOVE STEPPER=stepper_z  DISTANCE=-5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z1 DISTANCE=5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z2 DISTANCE=0 VELOCITY={vz}
    {% else %}
      FORCE_MOVE STEPPER=stepper_z  DISTANCE=0 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z1 DISTANCE=5 VELOCITY={vz}
      FORCE_MOVE STEPPER=stepper_z2 DISTANCE=-5 VELOCITY={vz}
    {% endif %}

    {% set p2 = (p + 1) % 6 %}
    SET_GCODE_VARIABLE MACRO=DEMO_MOTION VARIABLE=wave_phase VALUE={p2}
    UPDATE_DELAYED_GCODE ID=DEMO_BED_WAVE DURATION=0.10
  {% endif %}
