#####################################################################
# 	FILAMENT CUT
#####################################################################
[gcode_macro CUT_FILAMENT]
description: Move to cutter and cut filament with sensor detection or max travel.
gcode:
  RESPOND MSG="Cutting Filament"
  {% set temperature = params.TEMP|default(170)|float %}
  {% set start_x = 0 %}
  {% set max_travel = 16 %}
  {% set cut_speed = 10 %}
  {% set travel_speed = 100 %}

  SAVE_GCODE_STATE NAME=cut_state
  M104 S{temperature} ;Preheat Extruder
  HOME_CHECK
  HEAT_EXTRUDER TEMP={temperature} ;Wait until Extruder is heated
  G0 X0 Y0 F{travel_speed * 60}

  #CUTTING ACTION
  {% for i in range(max_travel) %}
    G0 X{start_x - (i + 1)} F{cut_speed * 60}
  {% endfor %}
  G0 X0 F{cut_speed * 60}

  #CLEAN
  PARK_POS
  CLEAN_NOZZLE
  PARK_POS
  #RETRACT FILAMENT
  # G91
  # G1 E-100 F1000
  # G90

  # Restore original state
  RESTORE_GCODE_STATE NAME=cut_state
