#####################################################################
#  Filament handling
#####################################################################
[gcode_macro LOAD_FILAMENT]
description: Load filament into the active extruder.
gcode:
    {% set speed = params.SPEED|default(25)|float %}
    {% set distance = params.DISTANCE|default(80)|float %}
    {% set min_temp = printer.configfile.settings.extruder.min_extrude_temp|float %}
    SAVE_GCODE_STATE NAME=load_filament_state
    {% if not printer[printer.toolhead.extruder].can_extrude %}
        RESPOND MSG="Heating extruder to {min_temp}C for filament load"
        M109 S{min_temp}
    {% endif %}
    M83
    G1 E{distance} F{speed * 60}
    G92 E0
    RESTORE_GCODE_STATE NAME=load_filament_state
    RESPOND MSG="Filament loaded"

[gcode_macro UNLOAD_FILAMENT]
description: Unload filament from the active extruder.
gcode:
    {% set speed = params.SPEED|default(25)|float %}
    {% set distance = params.DISTANCE|default(100)|float %}
    {% set min_temp = printer.configfile.settings.extruder.min_extrude_temp|float %}
    SAVE_GCODE_STATE NAME=unload_filament_state
    {% if not printer[printer.toolhead.extruder].can_extrude %}
        RESPOND MSG="Heating extruder to {min_temp}C for filament unload"
        M109 S{min_temp}
    {% endif %}
    M83
    G1 E-{distance} F{speed * 60}
    G92 E0
    RESTORE_GCODE_STATE NAME=unload_filament_state
    RESPOND MSG="Filament unloaded"

[gcode_macro M600]
description: Filament change helper.
gcode:
    PAUSE
    RESPOND MSG="Filament change requested. Load new filament and RESUME."
