#####################################################################
#  HOMING
#####################################################################
[homing_override]
set_position_z: 0       # Temporarily "home" Z so we can move it
axes: z               # Override for G28 Z axes
gcode:
  {% set x_max = printer.toolhead.axis_maximum.x|float %}
  {% set x_center = (printer.toolhead.axis_minimum.x|float + x_max) / 2.0 %}
  {% set y_center = (printer.toolhead.axis_minimum.y|float + printer.toolhead.axis_maximum.y|float) / 2.0 %}
  # Use relative move for a safe initial Z lift, then return to absolute mode.
  G91
  G0 Z5 F600
  G90
  # Home Y
  G28 Y0
  # Home X
  G28 X0
  G1 X{x_max - 8.5} F1200
  CLEAN_NOZZLE
  # Home Z
  G0 X{x_center} Y{y_center} F6000
  G28 Z
  # Z hop
  G0 Z30 F600
  G90


[gcode_macro HOME_CHECK]
description: Check if axes are homed, and run G28 if not.
gcode:
  {% set homed = printer.toolhead.homed_axes %}
  {% if 'x' not in homed or 'y' not in homed or 'z' not in homed %}
    # Recover a known coordinate system before macros that assume homed axes.
    G28
  {% endif %}
