#####################################################################
#  Mechanical ejection macros
#####################################################################

[gcode_macro Z_DROP]
description: Lower bed to max Z and 5mm beyond for belt throw clearance
gcode:
    RESPOND MSG="Lowering the bed"
    {% set BED_POS = params.DROP_POS|default(220)|int %}
    HOME_CHECK
    {% set travel_speed = 15 %}
    SAVE_GCODE_STATE NAME=z_drop_restore
    # Move in absolute mode to reach a known ejection clearance height.
    G90
    G1 Z{BED_POS - 10} F{travel_speed * 60}
    G1 Z{BED_POS} F600
    SAVE_VARIABLE VARIABLE=z_drop VALUE=1
    RESTORE_GCODE_STATE NAME=z_drop_restore

[gcode_macro BELT_THROW]
description: Full motion to throw object from belt.
gcode:
    {% set BED_COOLDOWN = params.BC|default(0)|int %}
    {% set BED_MOVE = 500 %}

    {% if BED_COOLDOWN == 1 %}
      {% set start = printer.heater_bed.temperature|float %}
      {% set target = start - 15.0 %}
      {% if target < 40.0 %}
        {% set target = 40.0 %}
      {% endif %}
      {% if start > 40.0 %}
        RESPOND MSG="Cooling bed before belt throw"
        {% if printer.heater_bed.target|float > target %}
          SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={target}
        {% endif %}
        # Wait until the bed cools to a safer release temperature.
        TEMPERATURE_WAIT SENSOR=heater_bed MAXIMUM={target}
      {% endif %}
    {% endif %}

    RESPOND MSG="Belt moving"
    MANUAL_STEPPER STEPPER=belt MOVE={BED_MOVE} SPEED=30
    MANUAL_STEPPER STEPPER=belt SET_POSITION=0
    MANUAL_STEPPER STEPPER=belt MOVE=-500 SPEED=30
    MANUAL_STEPPER STEPPER=belt SET_POSITION=0
    RESPOND MSG="Belt throw completed"

[gcode_macro OPEN_DOOR]
description: open door to throw a printed object.
gcode:
    {% set position = params.P|default(35)|int %}
    CLOSE_DOOR
    # Open from known closed reference to avoid cumulative drift.
    MANUAL_STEPPER STEPPER=door MOVE={position}

[gcode_macro CLOSE_DOOR]
description: close door.
gcode:
    # Re-home against endstop before closing to reset the manual stepper origin.
    MANUAL_STEPPER STEPPER=door SET_POSITION=40
    MANUAL_STEPPER STEPPER=door MOVE=0 STOP_ON_ENDSTOP=2
