[gcode_macro PARK_POS]
description: Park position of toolhead, when stand by
gcode:
    {% set x_park = printer.toolhead.axis_maximum.x|float - 1.0 %}
    # Park near the mechanical service area at fixed Y.
    HOME_CHECK_XY
    G0 X{x_park} Y60.5 F6000
