#####################################################################
#  System control
#####################################################################
[gcode_macro MOTORS_OFF]
description: Disable all stepper motors.
gcode:
    M18
    RESPOND MSG="Motors disabled"
